.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  width: 6rem;
  height: 2.2rem;
  background-color: transparent;
}
.container > span {
  font-weight: 500;
  font-size: 1.2rem;
}
