.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50dvh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  row-gap: 0.4rem;
  padding: 0.3rem;
}
.container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
