.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
  margin-bottom: 1rem;
  position: relative;
}

.container h3 {
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.container p {
  display: block;
  font-size: 1.2rem;
}

.container span {
  font-size: 1.15rem;
}

.newData {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.newData > span {
  width: 7rem;
}

.newTextarea > span {
  display: inline-flex;
  align-self: flex-start;
}

.newClient {
  display: flex;
  width: 100%;
}

.newClient span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.newPhone {
  width: 100%;
}

.saveData {
  display: flex;
  justify-content: flex-end;
}
