.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
  border-style: dashed;
  border-width: 2px;
  border-radius: 4px;
  position: relative;
  padding: 0.63rem;
}

.add {
  position: absolute;
  font-size: 1.87rem;
  width: 1.87rem;
  height: 1.87rem;
  border: 0;
  top: 3rem;
}
