.container {
  display: flex;
  align-items: center;
  column-gap: 0.35rem;
  padding-left: 1.78rem;
}

.model {
  width: 21rem;
}
.name {
  flex-grow: 1;
}
.unit > button {
  width: 6rem;
}
.price {
  width: 7.5rem;
}
.quantity {
  width: 6rem;
}
.result {
  display: flex;
  font-size: 1.2rem;
  height: 1.87rem;
  width: 6rem;
  border-radius: 4px;
  padding: 0.19rem 0.25rem 0 0.2rem;
  background-color: red;
}
