.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
  border-style: dashed;
  border-width: 2px;
  border-radius: 4px;
  position: relative;
  padding: 0.63rem;
}

.add {
  position: absolute;
  font-size: 1.87rem;
  width: 1.87rem;
  height: 1.87rem;
  border: 0;
  top: 3rem;
}

.title {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  column-gap: 0.25rem;
  margin: 0 2.15rem 0 2rem;
}
.title > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-width: 2px;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
}
.title > div:first-child {
  width: 21rem;
}
.title > div:nth-child(2) {
  flex-grow: 1;
}
.title > div:nth-child(4) {
  width: 7.5rem;
}
.title > div:nth-child(3),
.title > div:nth-child(5) {
  width: 6rem;
}
.title > div:last-child {
  width: 8rem;
}
