.container {
  display: flex;
  justify-content: space-between;

  position: relative;
}
.container h2 {
  font-size: 1.6rem;
  text-align: center;
}

.clients {
  border-right-style: solid;
  border-right-width: 2px;
  padding-right: 0.63rem;
}
.clients,
.devices {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.devices {
  padding-left: 0.63rem;
}
