.container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: 6px;
  z-index: 50;
}

.imageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  border-style: solid;
  border-width: 7px;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  z-index: 60;

  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
