.container {
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  font-weight: bold;
  line-height: 0.5;
}

.container > span {
  display: inline-block;
  line-height: 0.7;
  transform: translateX(0.3px);
  font-size: 0.7em;
  font-weight: 500;
}
