.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 50;
  padding: 20px 10px;
  row-gap: 10px;
}
.container p {
  font-size: 1.6rem;
  font-weight: 500;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 120px;

  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

/* face */
.errorCirle {
  border-style: solid;
  border-width: 7px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.errorLeftEye {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 13%;
  height: 13%;
  border-radius: 50%;
}
.errorRightEye {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 13%;
  height: 13%;
  border-radius: 50%;
}
.errorMouth {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-radius: 50%;
  bottom: -40%;
  width: 80%;
  height: 80%;
}
