.container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  padding: 0.6rem;
}
.container > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
}
.container p {
  display: block;
  font-size: 1.2rem;
}
.container span {
  font-size: 1.15rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.35rem;
}
