.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
  margin-bottom: 1rem;
  position: relative;
}

.container h3 {
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.container span {
  font-size: 1.15rem;
}

.newData {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.saveData {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
