.container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  font-size: 1rem;
}
.container span {
  border-right-style: solid;
  border-right-width: 2px;
  font-size: 1.15em;
  font-weight: 600;
  width: 1.9em;
  text-align: center;
  padding-top: 0.1em;
}
.container input {
  font-size: 1.3em;
  border: 0;
}
.container button {
  width: 0.8em;
  height: 0.9em;
  font-size: 1.8em;
  border: 0;
}
