.container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.container input {
  font-size: 1.2em;
  width: 100%;
  border: 0;
  padding: 0 0.2em;
  letter-spacing: 0.2mm;
}
.container button {
  width: 0.8em;
  height: 0.9em;
  font-size: 1.8em;
  border: 0;
}
