.container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
}
.container button {
  border: 0;
  font-size: 1.2rem;
  height: 1.7rem;
}
.container button:not(.container button:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
