.container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  z-index: 100;
  top: 2.1rem;
  white-space: nowrap;
}
.container button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0;
  font-size: 1.17rem;
  height: 1.7rem;
  width: 100%;
  padding: 0 0.3rem;
}
.container button:not(.container button:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
