.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.title > div {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  
}
.title > div > span {
  font-size: 1.15rem;
  width: 5.7rem;
}


