.container {
  display: inline-flex;
}

/* RU button */
.container > button:first-child {
  border-radius: 6px 0 0 6px;
  border-right-width: 1px;
}
/* UA button */
.container > button:last-child {
  border-radius: 0 6px 6px 0;
  border-left-width: 1px;
}
