.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.container a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3rem 0.5rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  position: relative;
  white-space: nowrap;
}

.container > a > span {
  font-size: 1em;
  line-height: 1.1;
  font-weight: 500;
}
.container > a > span span {
  font-size: 0.8em;
  font-weight: 300;
}
.container a:last-child {
  border: 0;
}
