.container {
  display: flex;
  justify-content: flex-end;
  font-size: 1.15rem;
  column-gap: 1rem;
  margin: 0.6rem 0;
}
.container > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.container > div:first-child {
  justify-content: space-between;
}
.container > div:last-child > div {
  width: 9.5rem;
}
.result {
  display: flex;
  font-size: 1.2rem;
  height: 1.87rem;
  border-radius: 4px;
  padding: 0.19rem 0.25rem 0 0.2rem;
  background-color: red;
}
