#logo-menu {
  top: 3.7rem;
}
#logo-menu a {
  font-size: 1.25rem;
}

#phones-menu,
#services-menu {
  top: 3.3rem;
}
#services-menu > a {
  font-size: 1.17rem;
}
#phones-menu > a {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  #phones-menu {
    top: 3.7rem;
  }
  #phones-menu > a {
    font-size: 1.29rem;
  }
}
