#title img {
  height: 2.5rem;
}
#title section {
  font-size: 1.5rem;
  transform: translateY(0.05em);
}

@media (max-width: 768px) {
  #title img {
    height: 2.7rem;
  }
  #title section {
    font-size: 1.4rem;
    line-height: 1;
    transform: translateY(0.07em);
  }
}
